.overlay-left,
.overlay-right {
    transition: transform 1.2s cubic-bezier(0.25, 1, 0.5, 1);
    will-change: transform;
}

.overlay-left.slide-out {
    transform: translateX(-15vw);
}

.overlay-right.slide-out {
    transform: translateX(15vw);
}




.bg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.slide-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 0;
}

.slide-bg.active {
    opacity: 1;
}

/* Контейнер слайдов — позиционируем все слайды друг над другом */
.substrate {
    position: relative;
    /* остальные стили сохраняются */
}
