.overlay-left,
.overlay-right {
    transition: transform 1.2s cubic-bezier(0.25, 1, 0.5, 1);
    will-change: transform;
}

.overlay-left.slide-out {
    transform: translateX(-11.5vw);
}

.overlay-right.slide-out {
    transform: translateX(11.5vw);
}